<h1> Panels </h1>
<hr>

<my-more-less-panel title="Text Field" icon="user" icon-size="2" style="success" small-heading="true">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia "
</my-more-less-panel>

<my-panel title="Text Field" icon="user" icon-size="2" style="success" small-heading="true">
    Panel with tight heading with Icon
</my-panel>


<my-panel title="Text Field" icon="user" icon-size="2" style="success" small-heading="true">
    Panel with tight heading with Icon
</my-panel>


<my-panel title="Text Field" icon="user" icon-size="2" style="success" small-heading="true">
    Panel with tight heading with Icon
</my-panel>

<my-panel title="Text Field" icon="user" icon-size="2" style="success" small-heading="true">
    Panel with tight heading with Icon
</my-panel>

<my-panel title="Text Field" style="success" small-heading="true">
    Panel with tight heading and no Icon
</my-panel>


<my-panel title="Text Field" style="success" show-edit-button="true" show-add-button="true" show-footer="true" footer-right-label="Footer Right label" footer-left-label="Footer Left label" small-heading="true">
    Panel with tight heading and no Icon

</my-panel>
