<html>

<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <!-- AngularJS -->
    <!--<script type="text/javascript" src="node_modules/angular/angular.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>-->
    <!--<script type="text/javascript" src="node_modules/angular-momentjs/angular-momentjs.js"></script>-->
    <!--<script type="text/javascript" src="node_modules/moment-range/dist/moment-range.js"></script>-->
    <!--<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>-->

    <!--<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>-->
    <script type="text/javascript" src="node_modules/font-awesome/css/font-awesome.css"></script>
    <script type="text/javascript" src="dist/myComponents.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<style>
    body {
        padding: 100px;
    }

    H1 {
        color: darkgreen;
    }

    H4 {
        color: purple;

    }



    .myInfoPanel{
          border-color: #64518A; !important;
          background: #D8D4E2; !important;
      }

    /*.myInfoPanel{*/
        /*border-color: #EA8A2F !important;*/
        /*background: #FAE2CB; !important;*/
    /*}*/
    /*.myInfoPanelIcon{*/
        /*color: #EA8A2F !important;*/
    /*}*/

</style>
<body ng-app="examples">
<script>
    angular.module("examples").controller("examples", function () {
        var vm = this;

        vm.exampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol";
        vm.test = "Some TExt";
        vm.date = new Date();
        vm.defaultDate = new Date(1, 1, 0000);


        vm.FirstName = "kevin";

        vm.fakeItems = [
            {
                id: 1,
                Title: "Test 1",
                Tags: "Tag1, Tag2",
                Category: "Category 1, Category 5",
                Types: "Type 1, Type 5",
                Town: "Town 1, Town 5",
                Dates: '28/7/2016'
            },
            {
                id: 2,
                Title: "Test 1",
                Tags: "Tag3, Tag2",
                Category: "Category 3, Category 2",
                Types: "Type 2, Type4",
                Town: "Town 1, Town 5",
                Dates: '28/7/2016'
            },
            {
                id: 3,
                Title: "Test 1",
                Tags: "Tag4, Tag5",
                Category: "Category 4, Category 2",
                Types: "Type 11, Type 13",
                Town: "Town 1, Town 5",
                Dates: '28/7/2016'
            }
        ];


        vm.filterText = "";

        vm.tags = [{id: 3, Name: "Test 1"}];

        vm.selectedTag = {};

        vm.add = function () {
            alert('Add Clicked');
        };

        vm.edit = function () {
            alert('Edit Clicked');
        };
    });

</script>
<div ng-controller="examples as vm">

<panels></panels>

<!--    <div class="well">-->
<!--        <h1> Date Fields </h1>-->
<!--        <hr>-->
<!--        <h4>Display Text Field</h4>-->
<!--        <my-display-field field-label="FirstName" ng-model="vm.test"></my-display-field>-->

<!--        <h4>Display Date Field</h4>-->
<!--        <my-display-date-field ng-model='vm.date' field-label='Date Closed'-->
<!--                               field-name='DateClosed'></my-display-date-field>-->

<!--        <h4>Date Field</h4>-->
<!--        <my-date-field ng-model='vm.date' field-label='Date Closed'-->
<!--                       tool-tip="This is a date field"-->
<!--                       required="true"-->
<!--                       field-name='DateClosed'></my-date-field>-->


<!--        <h4>Date Field</h4>-->
<!--        <my-date-field ng-model='vm.defaultDate' field-label='Date Closed'-->
<!--                       tool-tip="This is a date field"-->
<!--                       required="true"-->
<!--                       field-name='Default Date'></my-date-field>-->


<!--        <h4>Date Filter</h4>-->
<!--        <strong>Selected Type: </strong>{{ vm.selectedDateRange }}<br>-->
<!--        <my-relative-date-filter selected="vm.selectedDateRange"-->
<!--                                 field-label='Date Filter'-->
<!--                                 items="vm.fakeItems"-->
<!--                       field-name='Dates'></my-relative-date-filter>-->

<!--    </div>-->

<!--    <my-report-viewer></my-report-viewer>-->

<!--    <h1> Info Panels </h1>-->
<!--    <hr>-->


<!--        <my-info-panel-->
<!--                icon="tags"-->
<!--                color="#DDDEEDD"-->
<!--                info="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"></my-info-panel>-->




<!--    <h1> Tags </h1>-->
<!--    <hr>-->
<!--    <div class="well">-->
<!--        <h4> Tags Filter List </h4>-->
<!--        <strong>Selected Tag: {{ vm.selectedTag }}</strong>-->
<!--        <my-tags-filter-list items="vm.fakeItems" selected="vm.selectedTag"></my-tags-filter-list>-->

<!--        <h4> Tags Field </h4>-->
<!--        <strong>Tag: {{ vm.tags }}</strong>-->
<!--        <my-tags-multi-select field-label="Tags Field"-->
<!--                              field-name="Tags Field"-->
<!--                              tags="vm.tags" selected="vm.selectedTag"></my-tags-multi-select>-->


<!--    </div>-->



<!--    <h1> Inputs </h1>-->
<!--    <hr>-->
<!--    <div class="well">-->

<!--        <my-filter-textbox ng-model="vm.filterText"-->
<!--                           placeholder="You can change the placeholder text"></my-filter-textbox>-->


<!--        <my-text-field field-label="First Name"-->
<!--                       tool-tip="Some Help Text"-->
<!--                       ng-model="vm.FirstName"></my-text-field>-->

<!--        <my-textarea-field field-label="Details"-->
<!--                           tool-tip="Some Help Text"-->
<!--                           ng-model="vm.exampleText"></my-textarea-field>-->

<!--    </div>-->
<!--    <div class="well">-->

<!--        <my-filter-textbox ng-model="vm.filterText"-->
<!--                           placeholder="You can change the placeholder text"></my-filter-textbox>-->


<!--        <my-text-field field-label="First Name"-->
<!--                       tool-tip="Some Help Text"-->
<!--                       ng-model="vm.FirstName"></my-text-field>-->

<!--        <my-textarea-field field-label="Details"-->
<!--                           tool-tip="Some Help Text"-->
<!--                           ng-model="vm.exampleText"></my-textarea-field>-->

<!--    </div>-->


<!--    <h1> Panels </h1>-->
<!--    <hr>-->

<!--    <my-panel title="Text Field" icon="user"-->
<!--              icon-size="2"-->
<!--              show-edit-button="true"-->
<!--              edit="vm.edit()"-->
<!--              add="vm.add()"-->
<!--              height="200"-->
<!--              show-add-button="true"-->
<!--              style="success">-->

<!--        <my-panel title="Text Field" icon="user"-->
<!--                  icon-size="2"-->
<!--                  style="success"-->
<!--                  small-heading="true">-->
<!--            Panel with tight heading with Icon-->
<!--        </my-panel>-->


<!--        <my-panel title="Text Field" icon="user"-->
<!--                  icon-size="2"-->
<!--                  style="success"-->
<!--                  small-heading="true">-->
<!--            Panel with tight heading with Icon-->
<!--        </my-panel>-->


<!--        <my-panel title="Text Field" icon="user"-->
<!--                  icon-size="2"-->
<!--                  style="success"-->
<!--                  small-heading="true">-->
<!--            Panel with tight heading with Icon-->
<!--        </my-panel>-->

<!--    </my-panel>-->

<!--    <my-panel title="Text Field" icon="user"-->
<!--              icon-size="2"-->
<!--              style="success"-->
<!--              small-heading="true">-->
<!--        Panel with tight heading with Icon-->
<!--    </my-panel>-->

<!--    <my-panel title="Text Field"-->
<!--              style="success"-->
<!--              small-heading="true">-->
<!--        Panel with tight heading and no Icon-->
<!--    </my-panel>-->


<!--    <my-panel title="Text Field"-->
<!--              style="success"-->
<!--              show-edit-button="true"-->
<!--              show-add-button="true"-->
<!--              show-footer="true"-->
<!--              footer-right-label="Footer Right label"-->
<!--              footer-left-label="Footer Left label"-->
<!--              small-heading="true">-->
<!--        Panel with tight heading and no Icon-->

<!--    </my-panel>-->
<!--</div>-->

</body>

</html>