<md-icon md-svg-icon="social:android" aria-label="android "></md-icon>
<div class='form-group'>
        <!--label-->
        <label class='control-label' style='min-width: 110px; text-align: left'>{{vm.fieldLabel}}</label>
        
        <!--datepicker-->
        <div class='input-group'>
                <input type='text' class='form-control' id='{{vm.fieldName}}' uib-datepicker-popup='dd-MMMM-yyyy' ng-model='vm.ngModel' datepicker-options='vm.dateOptions' is-open='vm.popup1.opened' />
                <span class='input-group-btn'>
                        <button type='button' class='btn btn-default' ng-click='vm.open()'> 
                                <i class='fa fa-calendar'></i>
                        </button>
                 </span>
                <div class='input-group-addon' style='line-height: 0 !important;' ng-show='vm.showToolTip'>
                        <my-popover ng-model='vm.toolTip'></my-popover>
                </div>
        </div>
</div>
