<div class='form-group'>
    
    <!--Label-->
    <label class='control-label' style='min-width: 110px; text-align: left'>{{$ctrl.fieldLabel}}</label>
    
    <!--Select-->
    <select ng-model='$ctrl.ngModel' id='$ctrl.fieldName' class='form-control' convert-to-number>
         <option ng-repeat='option in $ctrl.items' value='{{option.Name}}'>{{option.Name}}</option>
    </select>
</div>
