<div ng-hide='vm.form.$dirty'>
        <div id='errorMessage' style='margin-top: 10px;' ng-show='vm.error'>
                <div class='well' style='color: white; background: red; font-size: large' role='alert'>
                        <i class='fa fa-warning'></i>{{vm.message}}<br>
                        <small>This is a system error.  An alert has been send to the developer and will let you know when this has been fixed.</small>
                </div>
        </div>
        <div id='successMessage' style='margin-top: 10px;' ng-show='vm.success'>
                <div class='well' style='color: white; background: green; font-size: large' role='alert'>
                        <i class='fa fa-check'></i>{{vm.message}}
                </div>
        </div>
</div>
